@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Sansita:ital@1&display=swap');

*{
    margin:0;
    background-color: #ffc5d9;
    font-family: 'Bubblegum Sans', cursive;
}

body{
    padding: 1px 0 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    text-align: center;
    padding:5px;
    margin-bottom: 10px;
    color: 	#87b3d6;
    font-size: 40px;
    width: 300px;
    background-color: #ffecb8;
    border-radius: 5px;
    font-family: 'Bubblegum Sans', cursive;
}

#target-value{
    background-color: #ffecb8;
    font-size: 45px;
    text-decoration: underline;
}

#numbers{
    padding:10px;
    max-width: 300px;
    }

#instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ul{
    margin-bottom: 20px;
    font-size: 25px;
}

.hide{
    display: none !important;
}

.button{
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background-color: #ffecb8;
    color: 	#87b3d6;
}

button:hover{
    background-color: #ffd86c;
    color: #87b3d6;
}

#modal-container{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffc5d9;
    border-radius: 5px;
    box-shadow: 2px 2px #e5b1c3;
}

#announcer{
    padding:20px 40px;
}

#image-holder{
    padding:5px 5px 15px 5px;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 2px solid 	#87b3d6;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:	#87b3d6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffecb8;
    cursor: pointer;
    caret-color: transparent;
}

.hover:hover{
    background-color: #e5b1c3;
}

.below-container{
    text-align: center;
    padding :10px;
}

#return-button{
    float: left;
    text-decoration: underline;
}
#scores{
    padding: 10px;
}

.score-box{
    padding:8px;
    font-size: larger;
}