@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Varela+Round&display=swap");

* {
    margin: 0;
    background-color: #ffc5d9;
}

body {
    padding: 1px 0 0 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.larger-font {
    font-size: larger;
}

#heading {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #87b3d6;
    font-size: 40px;
    width: 300px;
    background-color: #ffecb8;
    border-radius: 5px;
    font-family: "Bubblegum Sans", cursive;
}

#instructions h2 {
    font-size: 2em;
    font-family: "Varela Round", sans-serif;
}

#target-value {
    background-color: #ffecb8;
    font-size: 45px;
    text-decoration: underline;
    font-family: "Bubblegum Sans", cursive;
}

#displayer {
    font-family: "Bubblegum Sans", cursive;
}
#numbers {
    padding: 10px;
    max-width: 300px;
    font-family: "Bubblegum Sans", cursive;
}

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ul {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Varela Round", sans-serif;
    max-width: 450px;
}

li {
    margin: 10px;
}

.button {
    cursor: pointer;
    padding: 10px;
    margin: 2px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    background-color: #ffecb8;
    color: #87b3d6;
    font-family: "Bubblegum Sans", cursive;
}

button:hover {
    background-color: #ffd86c;
    color: #87b3d6;
}

#modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bubblegum Sans", cursive;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffc5d9;
    border-radius: 5px;
    box-shadow: 2px 2px #e5b1c3;
}

#close-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#close {
    cursor: pointer;
}

#footer-links {
    padding: 10px;
    max-height: 40px;
    display: flex;
    list-style-type: none;
    color: #87b3d6;
    margin-bottom: 0px;
}

#footer {
    margin-top: auto;
}

#footer-links li {
    padding: 20px;
}

#announcer {
    padding: 20px 40px;
    font-family: "Bubblegum Sans", cursive;
}

#image-holder {
    padding: 5px 5px 15px 5px;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    font-family: "Bubblegum Sans", cursive;
}

.tile {
    border: 2px solid #87b3d6;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #87b3d6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffecb8;
    cursor: pointer;
    caret-color: transparent;
}


.hover:hover {
    background-color: #e5b1c3;
}

.below-container {
    text-align: center;
    padding: 10px;
    font-family: "Bubblegum Sans", cursive;
}

#scores {
    display: flex;
    justify-content: space-between;
}

.score-holder {
    border: 1px solid black;
    padding: 4px;
}

#returner {
    margin-top: 20px;
}
#return-button,
#instructions-button {
    text-decoration: underline;
}

#scores {
    padding: 10px;
}

.score-box {
    padding: 8px;
    font-size: larger;
    font-family: "Bubblegum Sans", cursive;
}

/*classes which are added and removed in-game*/
.remove-click {
    pointer-events: none;
}

.hide {
    display: none !important;
}
